*{
    margin:0;
    padding:0;
    list-style-type:none;
    text-decoration:none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:1em;
    font-weight:300;
    color:#000;
    box-sizing:border-box;
}
body{
    width:100%;
    height:auto;
    /* body에 스타일링을 지양해주십시오. */
}
#hdr{
    width:100%;
    min-height:150px;
    height:auto;
    box-sizing:border-box;
    padding:0 50px 0 40px;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.1);
    overflow:hidden;
}
#hdr .hdr-logo{
    width:150px;
    height:150px;
    background:url("../LOGO.png") no-repeat;
    background-size:cover;
    float:left;
}
#hdr #nav{
    float:right;
}
#hdr #nav ul{
    float:right;
}
#hdr #nav li{
    float:right;
    padding:0px 20px;
    line-height:150px;
}
#cntnr{
    clear:both;
    width:60%;
    min-height:800px;
    height:auto;
    margin:0 auto;
}
#cntnr .cntnr-top-margin{
    width:100%;
    height:40px;
}
#cntnr .mp-title{
    font-size:2em;
    text-align:center;
    font-weight:400;
    line-height:3em;
    padding:0 0 20px 0;
}
#cntnr .MpRsv-arti{
    width:100%;
    min-height:200px;
    height:auto;
    /* border:0px solid #ccc; */
    box-shadow:0.5px 0.5px 3px 0.5px rgba(0, 0, 0, 0.15);
    box-sizing:border-box;
    margin:0 0 20px 0;
    padding:20px 6% 20px 8%;
    overflow:hidden;
}
#cntnr .MpRsv-arti .mp-rsv-info{
    width:51%;
    min-height:100px;
    /* background:#eee; */
    float:left;
    padding:20px 0 0 0;
}
#cntnr .MpRsv-arti .mp-rsv-info .mp-rsv-p{
    font-size:0.88em;
    line-height:2.2em;
}
#cntnr .MpRsv-arti .mp-rsv-info .mp-rsv-title{
	font-size:1.4em;
    font-weight:400;
    line-height:2em;
    padding:0 0 0 0;
    /* padding:10px 0 0 0; */
}
#cntnr .MpRsv-arti .mp-rsv-info .mp-rsv-address{
    font-size:0.9em;
	line-height:3.3em;
}
#cntnr .MpRsv-arti .mp-rsv-btns{
    width:49%;
    min-height:40px;
    /* background:#e9e9e9; */
    float:right;
    margin:60px 0 0 0;
    overflow:hidden;
}
#cntnr .MpRsv-arti .mp-rsv-btns .mp-rsv-btn{
    width:120px;
    height:40px;
    line-height:38px;
    text-align:center;
    border:1px solid #e9e9e9;
    box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    float:right;
    /* padding:5px 5%; */
    transition: all .3s ease;
}
#cntnr .MpRsv-arti .mp-rsv-btns .mp-rsv-btn:hover{
	background:#e9e9e9;
}
#cntnr .MpRsv-arti .mp-rsv-btns .mp-rsv-btn-cancle{
    margin:0 0 10px 8%;
}


#ftr{
    width:100%;
    min-height:200px;
    height:auto;
    background:#eee;
    font-size:0.8em;
    line-height:2em;
}
#ftr .wrapper{
    width:60%;
    min-height:200px;
    height:auto;
    margin:0 auto;
}
#ftr .wrapper #ftr-nav{
    height:50px;
}
#ftr .wrapper #ftr-nav ul{
    float:left;
}
#ftr .wrapper #ftr-nav ul li{
    padding:20px 20px 15px 20px;
    float:left;
}
#ftr .wrapper #ftr-nav ul li:first-child{
    padding:20px 20px 15px 0px;
}
#ftr .wrapper .ftr-arti{
    clear:both;
}
#ftr .wrapper .ftr-arti p{
    padding:0 0 10px 0;
}
table#rsv_info{
    font-size: 15pt;
    line-height: 120%;
    margin: 40px;
}
#optional-info{
    font-size: 15pt;
    line-height: 120%;
    margin: 40px;
}

#optional-info h1{
    margin: 20px 0;
    font-weight: 600;
    
}

#optional-info h2{
    margin: 20px 0;
    font-weight: 400;
    
}

#chat{
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

/*여기부터 지은 CSS*/