@charset "UTF-8";
*{
    margin:0;
    padding:0;
    list-style-type:none;
    text-decoration:none;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-size:0.88em; */
    font-weight:300;
    color:#000;
}
body{
    width:100%;
    height:auto;
    /* body에 스타일링을 지양해주십시오. */
}
/* #hdr{
    width:100%;
    min-height:150px;
    height:auto;
    box-sizing:border-box;
    padding:0 50px 0 40px;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.1);
    overflow:hidden;
}
#hdr .hdr-logo{
    width:150px;
    height:150px;
    background:url(../LOGO.png") no-repeat;
    background-size:cover;
    float:left;
}
#hdr #nav{
    float:right;
}
#hdr #nav ul{
    float:right;
}
#hdr #nav li{
    float:right;
    padding:0px 20px;
    line-height:150px;
} */
#cntnr{
    clear:both;
    width:60%;
    min-height:800px;
    height:auto;
    margin:0 auto;
    padding:0 0 40px 0;
}
#cntnr .cntnr-top-margin{
   clear:both;
    width:100%;
    height:40px;
}
#cntnr .MpArm-arti{
    width:100%;
    /* min-height:200px;
    height:auto; */
    height:320px;
    border:0px solid #ccc;
    box-shadow:0.2px 0.2px 3px 0.2px rgba(0, 0, 0, 0.2);
    box-sizing:border-box;
    margin:0 0 20px 0;
    padding:20px 8%;
    overflow:hidden;
    text-overflow:ellipsis;
}
#cntnr .wish-arti{
   width:30%;
   float:left;
   margin:20px 0 0 3%;
   padding:0;
   
}
#cntnr .MpArm-arti .form-heart{
   float:right;
   cursor:pointer;
   z-index:100;
}
#cntnr .MpArm-arti .form-heart #chckheart{
   display:none;
   cursor:pointer;
}
#cntnr .MpArm-arti .heartLabel{
   cursor:pointer;
}
#cntnr .MpArm-arti .heartLabel .fa-heart{
    /* width:10%;
    height:100%; */
    /* background:#eee; */
    font-size:1.8em;
    line-height:1em;
    /* vertical-align:middle; */
    color:#d85656;
    text-shadow:0.2px 0.2px 2px rgba(0, 0, 0, 0.4);
    /* color:#999; */
    float:left;
    text-align:center;
    margin:20px;
    /* filter:drop-shadow(1px 1px 10px 1px black); */
    cusor:pointer;
    transition: all .3s ease;
}
#cntnr .MpArm-arti i.fa-heart:hover{
   color:#e58686;
}
#cntnr .MpArm-arti .wish-place-pic{
   width:100%;
   height:200px;
   /* float:right; */
   /* background-size:cover; */
   /* 의미 없음, 적용 안됨.*/
}
#cntnr .MpArm-arti .wish-place-text-info{
   width:100%;
   height:100%;
   box-sizing:border-box;
   padding:10px 10px 15px 10px;
   overflow:hidden;
}
#cntnr .MpArm-arti .wish-place-text-info p{
    width:90%;
    float:left;
    /* background:#ddd; */
    box-sizing:border-box;
    font-size:0.88em;
    line-height:1.5em;
    margin:10px 0 0 0;
    padding:0 0 0 10px;
    text-overflow:ellipsis;
} 
#cntnr .MpArm-arti .wish-place-text-info .wish-place-title{
   font-size:1.1em;
   font-weight:400;
}
#ftr{
   clear:both;
    width:100%;
    min-height:200px;
    height:auto;
    background:#eee;
    font-size:0.8em;
    line-height:2em;
}
#ftr .wrapper{
    width:60%;
    min-height:200px;
    height:auto;
    margin:0 auto;
}
#ftr .wrapper #ftr-nav{
    height:50px;
}
#ftr .wrapper #ftr-nav ul{
    float:left;
}
#ftr .wrapper #ftr-nav ul li{
    padding:20px 20px 15px 20px;
    float:left;
}
#ftr .wrapper #ftr-nav ul li:first-child{
    padding:20px 20px 15px 0px;
}
#ftr .wrapper .ftr-arti{
    clear:both;
}
#ftr .wrapper .ftr-arti p{
    padding:0 0 10px 0;
}