*{
    margin:0;
    padding:0;
    list-style-type:none;
    text-decoration:none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:1em;
    font-weight:300;
    color:#000;
}
body{
    width:100%;
    height:auto;
    /* body에 스타일링을 지양해주십시오. */
}
input:focus{
	border:0px solid #fff !important;
}
input:active{
	border:0px solid #fff !important;
}
input:focus {outline:none !important;}
/* #hdr{
    width:100%;
    min-height:150px;
    height:auto;
    box-sizing:border-box;
    padding:0 50px 0 40px;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.1);
    overflow:hidden;
}
#hdr .hdr-logo{
    width:150px;
    height:150px;
    background:url("../LOGO.png") no-repeat;
    background-size:cover;
    float:left;
}
#hdr #nav{
    float:right;
}
#hdr #nav ul{
    float:right;
}
#hdr #nav li{
    float:right;
    padding:0px 20px;
    line-height:150px;
} */
#cntnr{
    clear:both;
    width:60%;
    min-height:800px;
    height:auto;
    margin:0 auto;
}
#cntnr .cntnr-top-margin{
    width:100%;
    height:40px;
}
#cntnr .mp-title{
    font-size:2em;
    text-align:center;
    font-weight:400;
    line-height:3em;
    padding:0 0 20px 0;
}
#cntnr .MpReview-arti{

}
#cntnr .MpReview-arti .mp-rev-p-info{
	font-size:0.88em;
	line-height:1.6em;
    padding:0 0 10px 0;
}
#cntnr .MpReview-arti .mp-rev-p-title{
	font-size:1.4em;
	font-weight:400;
	line-height:1.9em;
}
#cntnr .MpReview-arti .mp-rev-star-rate .rtng{
    display:none;
}
/* #cntnr .MpReview-arti .mp-rev-star-rate .rtng + label .fa-star{
    color:#ccc;
    cursor:pointer;
}
#cntnr .MpReview-arti .mp-rev-star-rate .rtng:checked + label .fa-star{
    color:#e4c61c;
} */
#cntnr .MpReview-arti .rev-ta{
    width:100%;
    margin:10px 0 20px 0;
    padding:15px;
    font-size:0.95em;
    line-height:1.7em;
    border:0px solid #ccc;
    box-shadow:inset 0.2px 0.2px 3px rgba(0, 0, 0, 0.15);
    box-sizing:border-box;
}
#cntnr .MpReview-arti .rev-btn{
    width:100%;
    height:40px;
    border:0px solid #eee;
    box-shadow:0.5px 0.5px 2px 0.5px rgba(0, 0, 0, 0.1);
    background:#f3f3f3;
    cursor:pointer;
    transition: all .3s ease;
}
#cntnr .MpReview-arti .rev-btn:hover{
	background:#e9e9e9;
}


#ftr{
    width:100%;
    min-height:200px;
    height:auto;
    background:#eee;
    font-size:0.8em;
    line-height:2em;
}
#ftr .wrapper{
    width:60%;
    min-height:200px;
    height:auto;
    margin:0 auto;
}
#ftr .wrapper #ftr-nav{
    height:50px;
}
#ftr .wrapper #ftr-nav ul{
    float:left;
}
#ftr .wrapper #ftr-nav ul li{
    padding:20px 20px 15px 20px;
    float:left;
}
#ftr .wrapper #ftr-nav ul li:first-child{
    padding:20px 20px 15px 0px;
}
#ftr .wrapper .ftr-arti{
    clear:both;
}
#ftr .wrapper .ftr-arti p{
    padding:0 0 10px 0;
}