/*calendar 디자인*/
#ui-datepicker-div{
    background-color: #fff;
    text-align: center;
    width: 200px;
    padding: 5px;
    box-shadow: 1px 1px 3px #bbb;
}
.ui-datepicker-calendar{
    background-color: #fff;
   text-align: center;
    width: 200px;
}
.ui-datepicker-unselectable{
    background-color: #eee;
    color: #aaa;
}

.ui-datepicker-today{
    background-color:#f2f7ff;
}
.ui-datepicker-current-day{
    border: solid 1px  #b1ceff ;
}
a.ui-state-default{
    color: #367FFF ;
}
.ui-datepicker-calendar td.undefined{
    border-radius: 20%;
}
.ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover{
background-color: #367FFF;
}
.ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover a{
  color: #fff;
    }
span.ui-state-default{
    color: #aaa;
}
.ui-icon-circle-triangle-w{
    padding-top: 5px;
    padding-left: 5px;
    float: left;
    cursor: pointer;
    font-size: smaller;
    color: #367FFF ;
}
.ui-icon-circle-triangle-e{
    padding-top:5px;
    padding-right: 5px;
    float: right;
    cursor: pointer;
    font-size: smaller;
    color: #367FFF ;
}
.ui-datepicker-title span{
    font-weight: 500;
}
.hasDatepicker{
    width: 100px;
    height: 30px;
}
/*여기는 selectParking */
.pk-pickday{
    display: inline;
}
.segment{
    width: 90%;
    margin-bottom: 50px;
}
.pk-content{
    height: 600px;
}

.pk-info{
    width: 50%;
    height: 500px;
    /* border: solid 1px #ccc; */
    float: left;
    padding: 30px;
}
.pk-condition{
    width: 30%;
    height: 350px;
    border: solid 1px #ccc;
    float: right;
    padding: 20px;
    text-align: right;
    box-shadow: 1px 1px 2px #ccc;
    margin-top: 60px;
}

.pk-condition div{
margin: 40px 20px;

}

#pk-book-btn{
width: 210px;
height: 70px;
background-color: #367FFF;
color: #fff;
font-size: large;
padding: 20px;
border: none;
border-radius: 10px ;
cursor: pointer;
}
#pk-book-btn:hover{
    background-color: #5e99ff;
}

.pk-pic{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}
/* 
#pk-pic-upload{
    width: 100%;
} */
.pk-info p{
    margin: 50px 20px;
    font-size: 13pt;
    font-weight: 400;
    line-height: 21pt;
}
.pk-info h1{
    margin: 20px;
    
    font-size: 22pt;
    font-weight: 500;
}
.pk-location{
 /* padding: 20px; */
}
.search-map{
    width: 100%;
    height: 400px;
}
.pk-subject{
    font-size: 18pt; 
    font-weight: 400; 
    margin:60px 20px 10px 20px;
}
.rv-table{
    border-collapse: collapse;
}
.rv-indiv{
    border:#ccc solid 1px ;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    height: 200px;
    padding: 20px;
}
.rv-pic{
    width: 80px;
    height:80px;
    text-align: center;
}
.rv-pic img{
width: 60px;
    height: 60px;
    border-radius: 70%;
    object-fit: cover;
}
#cntnr .rtng{
    display:none;
}
.pagination-item{
    display: inline;
    margin: 10px;
    cursor: pointer;
}
.pagination-item :hover{
color: #367FFF;
}
nav .paging{
    text-align: center;
    margin: 20px;
}

/*추천주차장 css*/
.parking-lot{
	width: 250px;
	height : 400px;
	border-collapse: collapse:
		
	
}
