.search-bar{
    border: solid 1px #ccc;
text-align: center;
height: 30px;
padding: 20px;

}
#search-btn{
	height:32px;
	width:50px;
	border:none;
	color:white;
	background-color: #367fff;
	border-radius:4px;
}
#keyword{
	padding-left:8px;
	height:30px;
	border: 1px solid #b1ceff;
	border-radius:4px;
	}
select{
	height:30px;
	border: 1px solid #b1ceff;
	border-radius:4px;
	color:#367fff;
	padding:2px;
}
.search-condition{
	color:#367fff;
	font-weight:400;
    display: inline;
    margin: 10px;
}
.search-result{
    display: inline;
    float: left;
width: 38%;
height: 700px;
overflow-y: scroll;
}

.search-map{
    display: inline;
    float: left;
width: 62%;
height: 700px;
}
/*여기까지는 보라씨한테 스타일시트 받으면 html 헤드에 올린다
아래부터는 Calendar 스타일.css 로 */
#ui-datepicker-div{
    background-color: #fff;
    text-align: center;
    width: 200px;
    padding: 5px;
    box-shadow: 1px 1px 3px #bbb;
    display: none;
}
.ui-datepicker-calendar{
    background-color: #fff;
   text-align: center;
    width: 200px;
}
.ui-datepicker-unselectable{
    background-color: #eee;
    color: #aaa;
}

.ui-datepicker-today{
    background-color:#f2f7ff;
}
.ui-datepicker-current-day{
    border: solid 1px  #b1ceff ;
}
a.ui-state-default{
    color: #367FFF ;
}
.ui-datepicker-calendar td{
    border-radius: 20%;
}
.ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover{
background-color: #367FFF;
}
.ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover a{
  color: #fff;
    }
span.ui-state-default{
    color: #aaa;
}
.ui-icon-circle-triangle-w{
    padding-top: 5px;
    padding-left: 5px;
    float: left;
    cursor: pointer;
    font-size: smaller;
    color: #367FFF ;
}
.ui-icon-circle-triangle-e{
    padding-top:5px;
    padding-right: 5px;
    float: right;
    cursor: pointer;
    font-size: smaller;
    color: #367FFF ;
}
.ui-datepicker-title span{
    font-weight: 500;
}
.hasTimepicker{
	padding-left: 8px
	width: 100px;
    height: 35px;
    margin: 3px;
    color: #367fff;
    border: 1px solid #b1ceff;
    border-radius: 4px;
    background-color: white;
    box-shadow: 1px 1px 3px #ddd;
    cursor: pointer;
}
/*단기 timepicker용*/

.ui-state-hover{
	background-color:#367FFF;
	color: white;	
	
}



/*여기는 검색한 리스트 css*/
.parking-lot{
    width: 250px;
    height: 350px;
    margin: 10px 0px 10px 20px;
    float: left;
    /* border-collapse: collapse; */
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
    border:solid 2px #ffffff;
    position:relative;
}

.parking-lot:hover{
	border:solid 2px rgb(54 127 255 / 56%);
}
.parking-lot td{
    padding: 2px 10px;
    border: none;
    overflow: hidden;
    font-size: 11pt;
}
#pkpic{
    width: 230px;
    height: 150px;
    object-fit: cover;
    margin: 6px 0px 0px 0px;
    border-radius: 4px;
}

.hasTimepicker{
	text-align: center;
	width: 100px;
    height: 35px;
    margin: 3px;
    color: #367fff;
    border: 1px solid #b1ceff;
    border-radius: 4px;
    background-color: white;
    box-shadow: 1px 1px 3px #ddd;
    cursor: pointer;
}
#tt{
font-weight:500;
}


#pk-pic-upload{
    width: 100%;
    height: 200px;
} 

#won{
	font-weight:700;
	color:#4c4c4c;
}

/* 찜 기능  */
.positioning-of-heart{
	/* margin:-100px -100px 0 0; */
	position:absolute;
	top:25px;
	right:25px;
}
.wish-checkbox{
   display:none;
}

.fa-heart{
	color:#dfdfdf;
	font-size:1.4em;
	text-shadow:0.2px 0.2px 1px #000000;
}
#coloring-red-heart{
	color:#d96b6b;
}
#coloring-gray-heart{
	color:#dfdfdf;
}