.search-bar{
    border: solid 1px #ccc;
text-align: center;
height: 30px;
padding: 30px;

}
.search-condition{
    display: inline;
    margin: 10px;
}
.search-result{
    display: inline;
    float: left;
width: 38%;
height: 700px;
overflow-y: scroll;
}

.search-map{
    display: inline;
    float: left;
width: 62%;
height: 700px;
}
/*여기까지는 보라씨한테 스타일시트 받으면 html 헤드에 올린다
아래부터는 Calendar 스타일.css 로 */
#ui-datepicker-div{
    background-color: #fff;
    text-align: center;
    width: 200px;
    padding: 5px;
    box-shadow: 1px 1px 3px #bbb;
}
.ui-datepicker-calendar{
    background-color: #fff;
   text-align: center;
    width: 200px;
}
.ui-datepicker-unselectable{
    background-color: #eee;
    color: #aaa;
}

.ui-datepicker-today{
    background-color:#f2f7ff;
}
.ui-datepicker-current-day{
    border: solid 1px  #b1ceff ;
}
a.ui-state-default{
    color: #367FFF ;
}
.ui-datepicker-calendar td{
    border-radius: 20%;
}
.ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover{
background-color: #367FFF;
}
.ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover a{
  color: #fff;
    }
span.ui-state-default{
    color: #aaa;
}
.ui-icon-circle-triangle-w{
    padding-top: 5px;
    padding-left: 5px;
    float: left;
    cursor: pointer;
    font-size: smaller;
    color: #367FFF ;
}
.ui-icon-circle-triangle-e{
    padding-top:5px;
    padding-right: 5px;
    float: right;
    cursor: pointer;
    font-size: smaller;
    color: #367FFF ;
}
.ui-datepicker-title span{
    font-weight: 500;
}
.hasDatepicker{
    width: 100px;
    height: 30px;
}
/*단기 timepicker용*/

.ui-state-hover{
	background-color:#367FFF;
	color: white;	
	
}



/*여기는 검색한 리스트 css*/
.parking-lot{
    width: 250px;
    margin:10px 0px 10px 20px;
    float: left;
    /* border-collapse: collapse; */
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
}
.parking-lot td{
padding: 5px 10px;
border: none;
}
#pkpic{
    width: 230px;
    height: 150px;
    object-fit: cover;
    margin: 6px 0px 0px 0px;
    border-radius: 4px;
}

/*여기는 selectParking */
/* .pk-content{
    width: 50%;
    height: 200px;
    border: solid 1px #ccc;
    float: left;
    padding: 20px;
}
.pk-details{
    width: 35%;
    height: 200px;
    border: solid 1px #ccc;
    float: right;
    padding: 20px;
    text-align: right;
}

.pk-details div{
margin: 10px;

}

#pk-book-btn{
width: 210px;
height: 70px;
background-color: #367FFF;
color: #fff;
font-size: large;
padding: 20px;
border: none;
border-radius: 10px ;
cursor: pointer;
}
#pk-book-btn:hover{
    background-color: #5e99ff;
}

#pk-pic-upload{
    width: 100%;
    height: 200px;
} */